 *{ 
    margin: 0;
    padding: 0;
}

body{

    background-color: coral;

    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
}

nav a{text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

header, main
{
    background-color: #f5f8bb;
    border-radius: 20px;
    padding: 50px;
    min-height: 100px;
    box-shadow: hsla(0, 0%, 0%, 0.56) 0 0 30px 0;

}

.imgtop{
    width: 100px;
    float: left;

}

nav li {display: inline;
    margin-left: 10px}

h1, h2{
     font-family:'Pacifico', cursive;  
     margin: 10px;
}

main{
    margin-top: 20px;
    line-height: 1.5em;
}




/* Smaller Screens Smartphones --------------- */
@media only screen and (max-width : 700px) {
    /* Styles */
    *{
        margin: 0;
        padding: 0;
    }
    h1{
        text-align: center;
        background-color: white;
        font-size: 1.6em;
        padding-top: 20px;
        padding-bottom: 20px;

    
    }

    .imgtop{
        display: none;
    }


    nav a{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        background-color: aquamarine;
        text-align: center;
        text-decoration: none;
        margin-left: -8px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    h2{
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    ul{
        list-style-type: none;
        margin-top: 20px;
        margin-left: 0px;

    }
}